@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=IM+Fell+English+SC&family=Inter:wght@400;700&family=Pacifico&display=swap");

:root {
  --primaryColor: #007bdf;
  --primaryAltColor: #006dc6;
  --secondaryColor: #fba905;
  --secondaryAltColor: #f1a000;
  --bgColor: #fff;
  --darkColor: #272a2e;
  --textColor: #262628;
  --textAltColor: #5c5e60;
  --borderColor: #ebebeb;
  --fontHeading: "Inter", sans-serif;
  --fontBody: "Inter", sans-serif;
  --fontSizeSmall: 14px;
  --fontSizeBody: 16px;
  --fontSizeMedium: 20px;
  --fontSizeHeading: 25px;
  --fontSizeBig: 45px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

input,
textarea,
button {
  border: none;
  font-family: var(--fontBody);
  font-size: var(--fontSizeBody);
}

input:focus,
textarea:focus {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--fontHeading);
  margin: 0;
}

img,
video {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
}
